img.tavoline, button.tavoline
{
    width: 125px;
    height: 88px;
    background: url(../Media/table_green.png)no-repeat;
                cursor:pointer;
                border: none;
}

img.tavoline:hover
{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.tavoline
{
    width: 125px;
    height: 88px;
    
}

.col-md-16
{
    height: 200px;
}

.zone
{
    text-align: center;
}

.modal-dialog h1, .modal-dialog h2, .modal-dialog h3, .modal-dialog h4, .modal-dialog h5, .modal-dialog h6, .modal-dialog p
{
    color: black;
}

.the_sasia
{
    position: absolute;
    width: 45px;
    right: 200px;
    top: 0px;  
        background-color: rgba(0, 0, 0, 0.0);
}

.the_total
{
position: absolute;
    width: 95px;
    right: 50px;
    top: 0px;
        background-color: rgba(0, 0, 0, 0.0);
}

input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.the_emri
{
    position: absolute;
    width: 150px;
}
